.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 30px;
}
.header__title {
  width: fit-content;
  font-family: "Leckerli One", serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: var(--title);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--border-title);
}
.title__icon {
  width: 120px;
  height: 100px;
  position: relative;
  bottom: 50px;
}

@media (min-width: 820px) {
  .header {
    height: 100px;
    margin-top: 30px;
    justify-content: center;
  }
  .header__title {
    font-size: 4rem;
  }
  .title__icon {
    bottom: 10px;
  }
}
