*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main-color:#FACBCB;
  --text-color : #E21D1D;
  --clean-color:#FFFFFF;
  --input-color:#FDEDED;
  --transparent-section:#f75151b2;
  --timer-color: #B60214;


}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), /* Overlay negro con 30% de opacidad */
    url('https://res.cloudinary.com/dnvpep1sn/image/upload/v1728678886/xbobzd5oofmqytfzs7mo.png'); /* Imagen de fondo */
  background-size: cover;
  background-position: inherit;
}

main{
  min-width: 340px;
  width: 80vw;
  height: 86vh;
  min-height: fit-content;
  margin-top: 60px;
  display: grid;
  justify-items: center;
  grid-template-rows: 70px 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  border-radius: 20px;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 11px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 11px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 11px 21px 0px rgba(0,0,0,0.75);
}

.title-container{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 30px;

}
.title{
  width: fit-content;
  color: var(--text-color);
  -webkit-text-stroke-width:1px ;
  -webkit-text-stroke-color: var(--input-color);
}
.title-icon{
  width: 120px;
  height: 100px;
  position: relative;
  bottom: 50px;
}

.help-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url('assets/help.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  right: 12vw; 
  top: 85vh; 
  cursor:pointer
}


/* _____________SectionTimerInput_____________ */

.timerInput_section{
  width: 80%;
  max-width: 350px;
  margin: auto;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
 
  flex-direction: row;
}

.timerInputCycles{
  background-color: transparent;
  padding-left: 10px;
  width: 50px;
  border: none;
  border-bottom: 1px solid var(--text-color);
}

/* _________________TimerInput_________________ */

.section_timerInput{
  width: 80%;
 
}
.timerInput__container{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    margin-right: auto;
    font-size: 14px;
  }
}

.timerInput_show_time{
  width: 65px;
  height: 50px;
  font-family: "Micro 5", serif;
  font-size: 1.8rem;
  align-content: center;
  border: 1px solid var(--text-color);
  background-color: var(--input-color);
  -webkit-box-shadow: 0px 5px 6px 1px rgba(38,38,38,0.2);
  -moz-box-shadow: 0px 5px 6px 1px rgba(38,38,38,0.2);
  box-shadow: 0px 5px 6px 1px rgba(38,38,38,0.2);
}
.timerInput_button_increment, .timerInput_button_decrement{
  width:50px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.timerInput_button_increment{
  background: url('assets/arrowUp.svg') no-repeat center / contain;

}
.timerInput_button_decrement{
  background: url('assets/arrowDown.svg') no-repeat center / contain;
}

.timerInput_restart{
  border: none;
  font-size: .8rem;
  text-decoration: underline;
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
}
/* _____________TimmerDisplay________________ */
.timmerDisplay__container{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-self: center;
  background-color: var(--timer-color);
  color: var(--clean-color);
  border-radius: 20px;
}
.timmerDisplay_container_img{
  height: 170px;
}
.timmerDisplay_img{
  width: 120px;
  height: inherit;
  object-fit: cover;
  border-radius: 20px;
}
.timmerDisplay_icon{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-top: 10px;
}
.notification_on{
  background: url('assets/notification.svg')no-repeat center / contain;
}
.notification_off{
  background: url('assets/notification_off.svg')no-repeat center / contain;
}
.timmerDisplay_time{
  width: 100%;
  p{
    margin-top: 70px;
    font-size: 2rem;
  }
}
.progress-container {

  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}


.progress-bar {
  margin-top: 20px;
  position: relative;
  flex-grow: 1;
  height: 6px;
  background-color: var(--transparent-section);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

.progress {
  height: 100%;
  width: 30%; /* Ajusta este porcentaje dinámicamente */
  background-color: var(--timer-color);
  border-radius: 3px 0 0 3px;
  transition: width 0.2s ease;
}

/* ________________timercontrols____________- */
.timmerControl_button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--clean-color);
  box-shadow: 0px 5px 6px 1px rgba(38, 38, 38, 0.435);
}

.timerControl_button_icon{
  width: 50px;
  height: 50px;
}

/* ______________TimerControl container________________ */

.timmerControl_container{
  width: 80%;
  height: 100px;
  max-width: 200px;
  padding: 10px;
  display: flex;
  margin: 10 px auto;
  justify-content: space-between;
  align-items: flex-end;
}
.timmerContainer{
  margin-top: 50px;
  background-color: red;
}


  /* ____________________________TIMMER SECTION _______________________________ */
  .timmer_section{
    width: 80%;
    max-width: 350px;
    display: flex;
    margin: 10px 0 20px 0;
    flex-direction: column;
    align-items: center;
    
  }
  


@media(min-width: 820px){
  main{
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .title-container{
    height: 100px;
    background-color: red;
  }

  .help-icon{
    top: 12vh;
    
  }





/* _____________SectionTimerInput___________ */
  
.section_timerInput{
  width: 90%;
  height: fit-content;
  grid-row: 2/2;
  justify-self: baseline;
  >p{
    text-align: left;
    margin: 2vw;
  }
}

.timerInput_section{
    width: 90%;
    max-width: 400px;
    padding: 10px;
    gap: 0;
    margin: auto;
    background-color: var(--transparent-section);
    border-radius: 20px;
    border: 1px solid var(--text-color);
    >p{
      margin: 5px auto 20px auto;
      grid-column: 1/3;
      margin-right: auto;
      font-weight:500;
      color: var(--timer-color);
    }
    
  }
  
  /* ________timerInput_______ */
  .timerInput_show_time{
    width: 85px;
    height: 70px;
}
/* _______Timmer section__________ */
.timmer_section{
  grid-area: 2/2/ 4/3;
  max-width: 500px;
justify-content: space-evenly
}
/* ________TimmerDisplay_______ */
.timmerDisplay__container{
  
  max-width: 550px;
  align-self: center;


}
.timmerDisplay_container_img{
  height:260px ;
}
.timmerDisplay_img{
  width: 200px;
}

}