*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main-color:#FACBCB;
  --text-color : #E24949;
  --clean-color:#FFFFFF;
  --input-color:#ED8585;
  --timer-color: #B60214;


}

body {
  width: 100vw;
  height: 100vh;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), /* Overlay negro con 30% de opacidad */
    url('https://res.cloudinary.com/dnvpep1sn/image/upload/v1728678886/xbobzd5oofmqytfzs7mo.png'); /* Imagen de fondo */
  background-size: cover;
  background-position: inherit;
}
